---
import RightSide from '../../components/organisms/RightSide.astro';
import WrapPostCard from '../../components/organisms/WrapPostCard.astro';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const allPosts: any = await Astro.glob("../posts/*.md");

  const uniqueTags = [
    ...new Set(allPosts.map((post: { frontmatter: { tags: any; }; }) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag: any) => {
    const filteredPosts = allPosts.filter((post: { frontmatter: { tags: string | any[]; }; }) =>
      post.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<Layout title={`Posts with tag ${tag}`}>
  <div class="flex flex-col lg:flex-row">
    <div class="lg:w-9/12 lg:pr-6">
      <h1 class:list={[
          'text-center text-3xl',
          'py-4 sm:py-10'
      ]}>{tag}</h1>
      <WrapPostCard posts={posts} />
    </div>
    <RightSide />
  </div>
</Layout>