---
import menu from "/icons/menu.svg?raw"; 
---
<div class:list={[
    'grid lg:hidden grid-cols-2 gap-x-2 items-center',
    'relative',
    'cursor-pointer',
    'group'
]}>
    <Fragment
        set:html={menu}
    />
    <ul class:list={[
        'w-36',
        'absolute top-6 z-10',
        'bg-[#1F2937] bg-opacity-90',
        'pt-2 px-4',
        'rounded-xl',
        'text-sm',
        'group-hover:block hidden'
    ]}>
        <li class="mb-2"><a href="/tags/Etika Profesi">Etika Profesi</a></li>
        <li class="mb-2"><a href="/tags/Front-end">Front-end</a></li>
        <li class="mb-2"><a href="/tags/Book Review">Book Review</a></li>
    </ul>
</div>